.product-block{
  border: 2px solid black;
  display: inline-block;
}
img{
  height: 15%;
}
p{
  font-size: 35px;
}
#total{
  color: blue;
}
span{
  color: red;
  font-size: 35px;
}
.App-wrapper{
  width: 100%;
  text-align: center;
}